[Unit]
Description="HashiCorp Vault"
Requires=network-online.target
After=network-online.target

[Service]
Environment=PATH=/cluster-bins:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
User=root
Group=root
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStart=/cluster-bins/vault server -config=/etc/vault/config.d/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
